
	<div class="col-xs-4">
	    	<div class="courseBox">
			<p><%= link_to image_tag(course.cover_image_url), course %></p>
			<p class="title"><%= link_to course.name, course %></p>
			<div class="row" style="margin:0;">
				<div class="col-xs-6" style="text-align:left;"><p class="content">2014-8-02</p></div>
				<div class="col-xs-6" style="text-align:right;"><p class="content"><span class="glyphicon glyphicon-user"></span> 27168</p></div>
			</div>
		</div>
	</div>
