<h1>Editing course</h1>
    <link href="http://belelros.github.io/videojs-playLists/css/main.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.0/video.js"></script>
<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
