<link href="/bundles/renaissanceweb/css/plaza.css" rel="stylesheet" type="text/css">
</link>
<h1>Listing courses</h1>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

<div class="col-xs-9">
<div class="row plazaPanel plazaPanel-center">
<div class="col-xs-12">
<p style="color: #b01e00;font-size: 30px;margin: 15px;">课程分类&gt;全部</p>
<div id="courses" style="overflow:hidden">

<div class="row" style="opacity:0.1;">
 <% @courses.each do |course_row| %>
   <%= render course_row %>
          
 <% end %>
</div>
    <script type="text/javascript">
  $(function(){
    $(".row").transit({
      opacity:1
    },500);
  });
</script>

</div>
</div>
</div>
</div>
<br>

<%= link_to 'New Course', new_course_path %>
<%= link_to 'Import Canvas Course', courses_canvas_list_path %>

<script src="/bundles/renaissanceweb/js/plazaNavi.js"></script>
<script src="/bundles/renaissanceweb/js/pageAjax.js"></script>
<script src="/bundles/renaissanceweb/js/plazaPage.js"></script>
